.title {
  color: #384c48;
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 40px;
  margin: 0 auto 45px;
  /* max-width: 922px; */
  max-width: 1060px;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 1065px;
  /* max-width: 854px; */
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 110px;
    margin: 0 auto 52px;
  }

  .intro {
    font-size: 40px;
    line-height: 50px;
  }
}
