.backgroundWrapper{
  position: relative;
  width: 100%;
}
.backgroundWrapper:after,
.backgroundWrapper:before{
  background: #fff;
  content: '';
  display: block;
  height: 30px;
  max-width: 50%;
  position: absolute;
  width: 100%;
}
.backgroundWrapper:after{
  top: -20px;
  right: 0;
  transform: skewY(-1deg);
}
.backgroundWrapper:before{
  left: 0;
  top: -25px;
  transform: skewY(4deg);
  max-width: 50%;
}
.colorElement{
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}