.colorElement{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

