.bottomLink {
  text-align: center;
  padding: 60px 0;
}

.bottomLink.padding1 {
  padding: 30px 0;
}

.bottomLink.padding2 {
  padding: 0 0 60px;
}

.bottomLink.padding3 {
  padding: 60px 0 0;
}

.bottomLink.padding4 {
  padding: 0;
}

.bottomLink a {
  color: #000;
  font-family: "FaktPro", sans-serif;
  font-size: 18px;
  font-weight: var(--fontWeight3);
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .bottomLink {
    padding: 90px 0;
  }

  .bottomLink.padding1 {
    padding: 60px 0;
  }

  .bottomLink.padding2 {
    padding: 0 0 90px;
  }

  .bottomLink.padding3 {
    padding: 90px 0 0;
  }

  .bottomLink a {
    font-size: 26px;
  }
}
