.image {
  margin-bottom: 45px;
}

.title {
  color: #384c48;
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.title2 {
  color: #384c48;
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 40px;
}

.text {
  color: #5d5d5d;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
    text-align: initial;
  }

  .text {
    font-size: 16px;
  }
}
