.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.prevBtn,
.nextBtn {
  background: transparent no-repeat center center;
  border: none;
  cursor: pointer;
  outline: none;
}

.prevBtn {
  background-image: url("/images/icon-slider-arrow.svg");
  transform: rotate(0);
}

.nextBtn {
  background-image: url("/images/icon-slider-arrow.svg");
  transform: rotate(180deg);
}

@media screen and (min-width: 768px) {
  .controls {
    display: none !important;
    visibility: hidden !important;
  }
}
