@font-face {
  font-family: "FaktPro";
  src: url("../fonts/FaktPro-Light.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecifeDisplayLight";
  src: url("../fonts/RecifeDisplay-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecifeDisplay";
  src: url("../fonts/RecifeDisplay-Book.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecifeDisplayRegular";
  src: url("../fonts/RecifeDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root{
  --blackColor: #000000;
  --fontSizeInput: 14px;
  --fontSize2: 20px;
  --fontWeight3: 300;
  --grayColor: #5d5d5d;
  --inputBorder: #707070;
  --labelColor: #384c48;
  --transparent: transparent;
}

body {
  background-color: #f5f3ef;
  color: #5d5d5d;
  font-family: "FaktPro", sans-serif;
  font-size: 14px;
  font-weight: var(--fontWeight3);
}

.outer-wrapper {
  margin-top: 80px;
}

.holder {
  margin: 0 auto;
  max-width: 1200px;
}

/* Section */
.section-intro {
  font-size: 16px;
  margin: 40px auto 0;
  text-align: center;
}

.section-image {
  margin-top: 85px;
}

/* About */
.about-footerText {
  max-width: 690px;
  margin: 95px auto 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }

  /* Section */
  .section-intro {
    font-size: 20px;
    margin: 50 auto 0;
    max-width: 680px;
  }

  .section-image {
    margin-top: 130px;
  }

  /* About */
  .about-footerText {
    margin: 160px auto 0;
  }
}

/**
 * Contact Page
 */

 #contact-form {
   padding: 0;
 }

 #contact-your-story {
   background: #ecf0f8;
   padding: 10px 0 60px;
 }
 .contact-text-title{
   color: #363c34;
   font-family: 'Recife Display', sans-serif;
   font-size: var(--fontSize2);
   font-weight: var(--fontWeight3);
   line-height: 25px;
   margin: 80px auto 0;
   max-width: 185px;
   text-align: center;
   width: 100%;
 }

 .contact-main-title{
   color: var(--labelColor);
   font-family: 'Recife Display', sans-serif;
   font-size: 40px;
   line-height: 45px;
   text-align: center;
   text-transform: uppercase;
 }

 #contact-background{
   background: url("../public/images/contact-cover.png") no-repeat center;
   background-size: cover;
   height: 450px;
   width: 100%;
 }

 .contact-intro,
 .contact-abstract{
   color: var(--grayColor);
   font-weight: var(--fontWeight3);
   font-size: 14px;
   line-height: 20px;
   text-align: center;
   width: 100%;
 }

 .contact-intro{
  margin: 68px auto 0;
  max-width: 318px;
 }

 .contact-abstract{
   margin: 32px auto;
   max-width: 205px;
 }

 .contact-form{
   margin: 0 auto;
   max-width: 320px;
 }

 .contact-group-button{
   display: flex;
   flex-flow: column;
   margin: 30px 0;
 }
 .labels{
   color: var(--labelColor);
   font-size: var(--fontSize2);
 }

 .inputField{
	padding: 15px 0 10px;
 }

 .inputField,
 .message{
   background: var(--transparent);
	 border: 0;
	 border-bottom: 1px solid  var(--inputBorder);
	 color: var(--blackColor);
	 font-family: 'FaktPro', sans-serif;
	 font-size: var(--fontSizeInput);
	 font-weight: var(--fontWeight3);
	 outline: none;
 }

 .contact-message{
   display: flex;
   flex-flow: column;
 }

 .message{
   border: 1px solid var(--inputBorder);
   margin-top: 24px;
   min-height: 196px;
   padding: 29px;
   resize: none;
 }

 .message::placeholder{
   color: var(--blackColor);
 }

 .submit-button{
	 background: var(--transparent);
	 border: 0;
	 color: var(--blackColor);
	 display: block;
	 font-family: 'FaktPro', sans-serif;
	 font-weight: var(--fontWeight3);
	 font-size: 18px;
	 line-height: 24px;
	 margin-left: auto;
	 margin-top: 45px;
	 max-width: 50px;
	 text-align: center;
	 text-decoration: none;
   padding: 0;
	 position: relative;
   width: 100%;
 }
 
 .submit-button:before{
	 background: #83827f;
	 bottom: 3px;
	 content: '';
	 display: block;
	 height: 2px;
	 left: 0;
	 position: absolute;
	 width: 100%;
 }

 .contact-address{
	 margin: 55px auto 100px;
	 max-width: 320px;
	 width: 100%;
 }

 .contact-title-address{
	 color: var(--labelColor);
	 font-family: 'RecifeDisplayRegular', sans-serif;
	 font-size: var(--fontSize2);
	 line-height: 24px;
	 margin-bottom: 26px;
	 text-transform: capitalize;
 }

 .contact-address-text{
	 color: var(--grayColor);
	 font-family: 'FaktPro', sans-serif;
	 font-size: var(--fontSizeInput);
	 font-weight: var(--fontWeight3);
	 line-height: 20px;
	 max-width: 138px;
	 width: 100%;
 }

 .contact-response{
   background: #dfe3da;
   bottom: 0;
   display: none;
   height: 100%;
   left: 0;
   position: absolute;
   width: 100%;
 }

 .contact-wrapper-response{
   align-items: center;
   display: flex;
   flex-flow: column;
   height: 100%;
   justify-content: center;
   margin: 0 auto;
   max-width: 258px;
   width: 100%;
 }

 .contact-text-response,
 .contact-message-response{
  color: var(--labelColor);
  font-family: 'Recife Display', sans-serif;
  font-weight: var(--fontWeight3);
  text-align: center;
 }

 .contact-text-response{
   font-size: 40px;
   line-height: 45px;
   text-transform: uppercase;
 }

 .contact-message-response{
   font-size: var(--fontSize2);
   line-height: 24px;
 }

 @media(min-width: 767px){

   .contact-intro{
     margin: 37px auto 0;
   }

   .contact-abstract{
     margin: 16px auto 0;
   }

   .contact-form{
     margin-top: 50px;
     max-width: 90%;
     width: 100%;
   }

   .contact-information{
     display: flex;
     flex-flow: row;
   }

   .contact-personal-information,
   .contact-subject-information{
     max-width: 50%;
     width: 100%;
   }

   .contact-group-button{
     max-width: 410px;
     width: 100%;
   }

   .contact-address{
     max-width: 90%;
   }
   .contact-wrapper-response{
     max-width: 400px;
   }
   .contact-text-response{
     font-size: 55px;
     line-height: 60px;
   }
   .contact-message-response{
     line-height: 25px;
   }
 }
