@font-face {
  font-family: "FaktPro";
  src: url("../fonts/FaktPro-Light.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecifeDisplayLight";
  src: url("../fonts/RecifeDisplay-Light.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecifeDisplay";
  src: url("../fonts/RecifeDisplay-Book.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RecifeDisplayRegular";
  src: url("../fonts/RecifeDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  --blackColor: #000000;
  --fontSizeInput: 14px;
  --fontSize2: 20px;
  --fontWeight3: 300;
  --grayColor: #5d5d5d;
  --inputBorder: #707070;
  --labelColor: #384c48;
  --transparent: transparent;
}

body {
  background-color: #f5f3ef;
  color: #5d5d5d;
  font-family: "FaktPro", sans-serif;
  font-size: 14px;
  font-weight: var(--fontWeight3);
}

.outer-wrapper {
  margin-top: 80px;
}

.holder {
  margin: 0 auto;
  max-width: 1200px;
}

/* Section */
#home-to,
#build,
#host-an-event,
#happenings,
#residencies{
  position: relative;
}
#build{
  margin-top: -65px;
}
#host-an-event h2{
  color: #020202;
}
#host-an-event h3,
#host-an-event a{
  color: #000;
}

.section-intro {
  font-size: 16px;
  margin: 40px auto 0;
  text-align: center;
}

.section-image {
  margin-top: 85px;
}

.section-body h3 {
  font-family: "RecifeDisplayLight";
  font-size: 20px;
}

.section-footer {
  max-width: 690px;
  margin: 95px auto 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  #host-an-event h3,
  #host-an-event a{
    color: #f5f3ef;
  }

  /* Section */
  .section-intro {
    font-size: 20px;
    margin: 50px auto 0;
    max-width: 680px;
  }

  .section-image {
    margin-top: 130px;
  }

  .section-body h3 {
    font-family: "RecifeDisplayLight";
    font-size: 40px;
  }

  .section-body a {
    color: #000;
  }

  .section-footer {
    margin: 160px auto 0;
  }
}

/**
 * Contact Page
 */
#contact-form {
  padding: 0;
}

#contact-your-story {
  background: #ecf0f8;
}

#contact-background {
  background: url("../public/images/contact-cover.png") no-repeat center;
  background-size: cover;
  height: 450px;
  width: 100%;
}

.contact-form {
  margin: 0 auto;
  max-width: 320px;
}

.contact-group-button {
  display: flex;
  flex-flow: column;
  margin: 30px 0;
}

.labels {
  color: var(--labelColor);
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: var(--fontSize2);
}

.inputField {
  padding: 15px 15px 10px;
}

.inputField,
.message {
  background: var(--transparent);
  border: 0;
  border-bottom: 1px solid var(--inputBorder);
  color: var(--blackColor);
  font-size: var(--fontSizeInput);
  font-weight: var(--fontWeight3);
  outline: none;
}

select.inputField {
  height: 50px;
}

.contact-message {
  display: flex;
  flex-flow: column;
}

.message {
  border: 1px solid var(--inputBorder);
  margin-top: 24px;
  min-height: 196px;
  padding: 29px;
  resize: none;
}

.message::placeholder {
  color: var(--blackColor);
}

.contact-wrapper-submit {
  margin-left: auto;
  margin-top: 45px;
  max-width: 50px;
  position: relative;
  width: 100%;
}

.contact-wrapper-submit:before {
  background: #83827f;
  bottom: 3px;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

.submit-button {
  background: var(--transparent);
  border: 0;
  color: var(--blackColor);
  display: block;
  font-weight: var(--fontWeight3);
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  position: relative;
  text-transform: uppercase;
  width: 100%;
}

.contact-address {
  margin: 55px auto 100px;
  max-width: 320px;
  width: 100%;
}

.contact-title-address {
  color: var(--labelColor);
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: var(--fontSize2);
  line-height: 24px;
  margin-bottom: 26px;
  text-transform: capitalize;
}

.contact-address-text {
  color: var(--grayColor);
  line-height: 20px;
  max-width: 250px;
  width: 100%;
}

.contact-response {
  background: #dfe3da;
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
}

.contact-response.displayed {
  display: block;
}

.contact-wrapper-response {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 258px;
  width: 100%;
}

.contact-text-response,
.contact-message-response {
  color: var(--labelColor);
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 40px;
  text-align: center;
}

.contact-text-response {
  font-size: 40px;
  text-transform: uppercase;
}

.contact-message-response {
  font-size: var(--fontSize2);
}

.contact-link-response {
  margin-top: 45px;
  text-align: center;
}

.contact-link-response a {
  color: #000;
  font-family: "FaktPro", sans-serif;
  font-size: 18px;
  font-weight: var(--fontWeight3);
  line-height: 24px;
}

@media (min-width: 767px) {
  .contact-form {
    margin-top: 50px;
    max-width: 90%;
    width: 100%;
  }

  .contact-information {
    display: flex;
    flex-flow: row;
  }

  .contact-personal-information,
  .contact-subject-information {
    max-width: 50%;
    width: 100%;
  }

  .labels {
    font-size: 30px;
  }

  .inputField,
  .message {
    font-size: 16px;
  }

  .contact-group-button {
    max-width: 410px;
    padding: 0 10px;
    width: 100%;
  }

  .contact-title-address {
    font-size: 30px;
  }

  .contact-address {
    max-width: 90%;
  }

  .contact-wrapper-response {
    max-width: 660px;
  }

  .contact-text-response {
    font-size: 110px;
  }

  .contact-message-response {
    font-size: 40px;
  }

  .contact-address-text {
    line-height: 28px;
  }

  .contact-link-response {
    margin-top: 75px;
  }

  .contact-link-response a {
    font-size: 26px;
  }
}

/*footer styles*/
#terms-conditions,
#privacy-policy,
#covid-policy{
  margin: 0 auto;
  max-width: 90%;
  width: 100%;
}
.privacy-title,
.terms-title,
.covid-title{
  font-size: 21px;
  font-weight: 600;
  

}
.privacy-title.main,
.terms-title.main,
.covid-title.main{
  text-align: center;
}

.hidden{
  opacity: 0;
  transition: opacity .775s .4650s, transform .775s .650s;
  transform: translateY(50px);
}

.inview{
  opacity: 1;
  transform: translateY(0px);
}

  


