/* -- Inview Effects -- */
.inviewElement {
  opacity: 0;

  -webkit-transition: -webkit-transform 350ms 150ms ease-out, opacity 350ms 150ms ease-out;
  -moz-transition: -moz-transform 350ms 150ms ease-out, opacity 350ms 150ms ease-out;
  -ms-transition: -ms-transform 350ms 150ms ease-out, opacity 350ms 150ms ease-out;
  -o-transition: -o-transform 350ms 150ms ease-out, opacity 350ms 150ms ease-out;
  transition: transform 350ms 150ms ease-out, opacity 350ms 150ms ease-out;
}

/* Bottom to Top */
.bottomToTop {
  -webkit-transform: translateY(25px);
  -moz-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -o-transform: translateY(25px);
  transform: translateY(25px);
}

.viewed {
  opacity: 1;

  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
