.logo {
  display: block;
  margin: 0 auto;
  max-width: 205px;
}

.leftLinks .link {
  margin-left: 15px;
}

.leftLinks .link:first-child {
  margin-left: 0;
}

.rightLinks .link {
  margin-right: 15px;
}

.rightLinks .link:last-child {
  margin-right: 0;
}

.link {
  color: #000;
  display: block;
  font-size: 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: #000;
}

.toggleBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  height: 20px;
  margin-left: auto;
  outline: none;
  padding: 0;
  position: relative;
  width: 20px;
}

.toggleBtn::before,
.toggleBtn::after {
  border-bottom: 1px solid #000;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
}

.toggleBtn::before {
  top: 7px;
}

.toggleBtn::after {
  top: 12px;
}

@media screen and (min-width: 768px) {
  .link:before {
    background: #000;
    bottom: 2px;
    content: "";
    display: block;
    height: 1px;
    left: 100%;
    position: absolute;
    transition: width 500ms ease, left 500ms ease;
    width: 0;
  }

  .link.active:before,
  .link:hover:before {
    left: 0;
    transition: width 500ms ease;
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .leftLinks .link {
    margin: 0 15px;
  }

  .rightLinks .link {
    margin: 0 15px;
  }
}
