@keyframes preloaderText {
  0%    {
    opacity: 0;
    transform: translateY(100%);
  }
  10%   {
    opacity: .1;
    transform: translateY(90%);
  }
  20%   {
    opacity: .2;
    transform: translateY(80%);
  }
  30%   {
    opacity: .3;
    transform: translateY(70%);
  }
  40%   {
    opacity: .4;
    transform: translateY(60%);
  }
  50%   {
    opacity: .5;
    transform: translateY(50%);
  }
  10%   {
    opacity: .6;
    transform: translateY(40%);
  }
  70%   {
    opacity: .7;
    transform: translateY(30%);
  }
  80%   {
    opacity: .8;
    transform: translateY(20%);
  }
  90%   {
    opacity: .9;
    transform: translateY(10%);
  }
  100%  {
    opacity: 1;
    transform: translateY(0);
  }
}

.preloader {
  background: #fff no-repeat center center url("/images/preloader-cover.webp");
  background-size: cover;
  height: 100vh;
  left: 0;
  position: fixed;
  opacity: 0;
  transition: opacity 500ms ease;
  top: 0;
  width: 100vw;
  z-index: 11;
}

.preloader h1 {
  animation: preloaderText 850ms;
}

.preloader.displayed {
  opacity: 1;
}

.preloader::before {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.wrapper {
  left: 50%;
  max-width: 550px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
  z-index: 1;
}

.title,
.subtitle {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.title {
  font-size: 36px;
}

.subtitle {
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 66px;
  }

  .subtitle {
    font-size: 30px;
  }
}
