.section {
  padding: 60px 0;
}

.marginTop {
  margin-top: 10px;
}

.header {
  margin-bottom: 83px;
}

.title {
  color: #384c48;
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  /* max-width: 1030px; */
  max-width: 854px;
  text-align: center;
}

.introText {
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  max-width: 680px;
  text-align: center;
}

.image {
  margin-top: 70px;
  padding-bottom: 47%;
  position: relative;
}

.footer {
  margin: 55px auto 0;
  max-width: 505px;
  text-align: center;
}

.content {
  color: #5d5d5d;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 100px 0;
  }

  .marginTop {
    margin-top: 110px;
  }

  .header {
    margin-bottom: 131px;
  }

  .title {
    font-size: 110px;
    margin-bottom: 52px;
  }

  .intro {
    font-size: 40px;
    line-height: 50px;
  }

  .introText {
    font-size: 20px;
    line-height: 23px;
  }

  .image {
    margin-top: 100px;
  }
}
