.section {
  padding: 60px 0;
}

.header {
  margin-bottom: 40px;
}

.title {
  color: #384c48;
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.intro {
  font-family: "RecifeDisplayLight", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 45px auto 0;
  max-width: 1030px;
  text-align: center;
}

.image {
  margin-top: 70px;
}

.footer {
  margin: 55px auto 0;
  max-width: 505px;
  text-align: center;
}

.content {
  color: #5d5d5d;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 90px 0;
  }

  .title {
    font-size: 110px;
  }

  .intro {
    font-size: 40px;
    line-height: 50px;
    margin-top: 50px;
  }

  .image {
    margin-top: 100px;
  }
}
