.swichImage {
}

.imagesWrapper {
  position: relative;
  padding-bottom: 80%;
  width: 100%;
}

.imagesWrapper img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.clickText {
  font-size: 10px;
  text-transform: uppercase;
}
